<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" name="MyApp" packages="">

  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d %-7level %logger{36} - %msg%n"/>
    </Console>
    <!--
    <File name="MyFile" fileName=".log">
      <PatternLayout pattern="%d %-7level %logger{36} - %msg%n"/>
    </File>
    -->
  </Appenders>
  <Loggers>
    <Root level="ALL">
      <!-- Only events at DIAG level or more specific are sent to the console. -->
      <AppenderRef ref="Console" />
      <!--
      <AppenderRef ref="MyFile" />
      -->
    </Root>
  </Loggers>

</Configuration>